@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    /* font-family: "Martel Sans", sans-serif; */
}

body {
    background-color: black;
}

.main {
    background-image: url("assets/images/bg.jpg");
    height: 70vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.78;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    padding: 18px;
    max-width: 75vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

nav img {
    color: red;
    width: 115px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: "Martel Sans", sans-serif;
    height: calc(100% - 96px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 25px;
    padding: 0 30px;
}

.hero> :nth-child(1) {
    font-weight: 900;
    font-size: 3rem;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 23px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 19px;
    text-align: center;
}

.seperation {
    height: 5px;
    background-color: rgb(34 33 33);
}

.btn {
    padding: 3px 8px;
    font-weight: bold;
    background-color: rgba(23, 23, 23, 0.7);
    color: white;
    border-radius: 4px;

    /* border-style: solid;
    border-color: white; */
}

.btn-al {
    padding: 3px 8px;
    font-weight: bold;
    background-color: rgba(23, 23, 23, 0.7);
    color: white;
    border-style: solid;
    border-color: rgb(183 182 182 / 27%);

}

.btn-red {
    background-color: red;
    color: #fffefe;
    padding: 5px 24px;
    font-size: 20px;
    border-radius: 4px;
    border: 0;
}

.main input {
    padding: 7px 101px 8px 14px;
    font-weight: 900;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    /* background-color: 1px solid rgba(255, 255, 255, 0.504); */
    border-style: solid;
    border-color: rgb(183 182 182 / 27%);
    color: white;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn-red-sn {
    background-color: red;
    color: white;
    border: 0;
}